{
    "roll": {
        "default": {"alias": "r", "description": "Roll a default dice (d20) or any other dice expression (e.g., 3d6+d4-2)"},
        "advantage": {"alias": "v", "description": "Roll with advantage. Not necessary write d20+... Evaluate any extra expression (e.g., 3d6+2d4+...)"},
        "double_advantage": {"alias": "vv", "description": "Roll with double advantage, evaluate any extra expression (e.g., 3d6+2d4+...)"},
        "disadvantage": {"alias": "d", "description": "Roll with disadvantage. Not necessary write d20+... Evaluate any extra expression (e.g., 3d6+2d4+...)"},
        "dm_roll": {"alias": "dm", "description": "Rolls any dice expression and send results on DM channel for calling player"},
        "critical_damage": {"alias": "critic", "description": "Roll for critical damage. Maximize the first die and roll the rest. Evaluate any extra expression (e.g., 3d6+2d4+...)"},
    },
    "initiative": {
        "default": {"alias": "i", "description": "Roll initiative. Accept the dexterity modifier, can accept a custom name and an extra parameter to roll multiple times. e.g. 5 Kobold 2"},
        "advantage": {"alias": "iv", "description": "Roll initiative with advantage. Will roll 2 d20s and choose the higher result. Accept the dexterity modifier."},
        "force": {"alias": "iset", "description": "Force set initiative. e.g. <dice> <dex> <name>"},
        "reset": {"alias": "iclean", "description": "Reset initiative tracker"},
        "remove": {"alias": "iremove", "description": "Using the index remove a player from initiative. "},
        "next": {"alias": "in", "description": "Move the marker to the next player"},
        "previous": {"alias": "ip", "description": "Move the marker to the previous player"},
        "add_condition": {"alias": "icond", "description": "Add condition to a player by index"},
        "remove_condition": {"alias": "icond-remove", "description": "Remove condition from a player by index"}
    },
    "stats": {
        "player": {"alias": "my-stats", "description": "Show player statistics"},
        "session": {"alias": "session-stats", "description": "Show session statistics. Accept channel name, start date and end date in format of YYYY-MM-DD. If not provided, the current day will be used + 1 day."}
    }
}