{
    "roll": {
        "roll_dice": {"alias": "r", "description": "Roll a default dice (d20) or any other dice expression (e.g., 3d6+d4-2)"},
        "advantage": {"alias": "v", "description": "Roll with advantage. Not necessary write d20+... Evaluate any extra expression (e.g., 3d6+2d4+...)"},
        "double_advantage": {"alias": "vv", "description": "Roll with double advantage, evaluate any extra expression (e.g., 3d6+2d4+...)"},
        "disadvantage": {"alias": "d", "description": "Roll with disadvantage. Not necessary use d20+... Evaluate any extra expression (e.g., 3d6+2d4+...)"},
        "dm_roll": {"alias": "dm", "description": "Rolls any dice expression and send results to DM"},
        "dm_advantage": {"alias": "dm-v", "description": "Roll with advantage and send results to DM"},
        "dm_disadvantage": {"alias": "dm-d", "description": "Roll with disadvantage and send results to DM"},
        "critical_damage": {"alias": "critic", "description": "Roll for critical damage. Max the first die and roll the rest. Eval any extra exp (e.g., 3d6+2d4...)"}
    },
    "initiative": {
        "roll_initiative": {"alias": "i", "description": "Roll initiative. Accept the dexterity modifier, can accept a custom name and an extra parameter to roll multiple times. e.g. 5 Kobold 2"},
        "advantage": {"alias": "iv", "description": "Roll initiative with advantage. Will roll 2 d20s and choose the higher result. Accept the dexterity modifier."},
        "disadvantage": {"alias": "id", "description": "Roll initiative with disadvantage. Will roll 2 d20s and choose the lower result. Accept the dexterity modifier."},
        "npc_initiative": {"alias": "npc-init", "description": "Roll initiative for multiple NPCs. e.g. 3 Goblin 2 2 Kobold 1 (3 goblins with +2, 2 kobolds with +1)"},
        "npc_advantage": {"alias": "npc-iv", "description": "Roll initiative with advantage for multiple NPCs. Same format as npc-init."},
        "npc_disadvantage": {"alias": "npc-id", "description": "Roll initiative with disadvantage for multiple NPCs. Same format as npc-init."},
        "force": {"alias": "iset", "description": "Force set initiative. e.g. <dice> <dex> <name>"},
        "reset": {"alias": "iclean", "description": "Reset initiative tracker"},
        "remove": {"alias": "iremove", "description": "Using the index remove a player from initiative. "},
        "next": {"alias": "in", "description": "Move the marker to the next player"},
        "previous": {"alias": "ip", "description": "Move the marker to the previous player"},
        "add_condition": {"alias": "icond", "description": "Add condition to a player by index"},
        "remove_condition": {"alias": "icond-remove", "description": "Remove condition from a player by index"}
    },
    "stats": {
        "player": {"alias": "my-stats", "description": "Show player statistics"},
        "session": {"alias": "session-stats", "description": "Show session statistics. Accept channel name, start date and end date in format of YYYY-MM-DD. If not provided, the current day will be used + 1 day."}
    },
    "debug": {
        "ping": {"alias": "ping", "description": "Ping the bot"},
        "help": {"alias": "helpme", "description": "Show this help message"},
        "set_dm": {"alias": "set-dm", "description": "Set the DM for this channel. DM rolls will be sent to this user. Usage: !set-dm or !set-dm @username"},
        "show_dm": {"alias": "show-dm", "description": "Show who is the current DM for this channel"}
    }
}
